html
  head
    title Jade Blog
    link(rel="stylesheet",type="text/css",href="css/style.css")
  body
    .container
        header
            a(href="/")
                img(src="img/logo.png")
        section
            .sidebar
                ul
                    li Category1
                    li Category2
            .content 
                block content